@import 'css/fonts.css';
@import "line";
$maincolor:#3d6cb0;
$globalfont :'PT Sans';
$width: 100%;
$sizeoffont:30.86px;

@mixin color($color){
  color:$color;
}
@mixin smallRoundSkills($color) {
  content: "";
  display: flex;
  flex-direction:column;
  width:3%;
  background:none;
  padding-bottom:3%;
  border-radius:50%;
  background-color:$color;
  margin: 2.3% auto;
  margin-left:49.45%;
}
html, body {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}

body {
  font-family: $globalfont;
  min-width: 320px;
  max-width: 2480px;
  width: $width;
  height:$width;
  font-size: $sizeoffont;
  padding-top:5px;
  
}
.cv {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}   
.firstBlock {
  width:750px;
  margin:130px 100px 100px 95px;
  max-width:830px;
  background-color: #f0eded;
}
.secondBlock {
  width:$width - 46%;
  max-width:1380px;
}
.mainPhoto {
  // 452 px/2 - radius of round for image ?
  width:0.42*$width;
  padding-bottom: 0.42*$width;
  border-radius: 50%;
  background-color: #3d6cb0;
  border: 1.2rem solid #fff;
  box-shadow: 0 0 0 2px #3d6cb0;
  margin-left: 20.5%;
  margin-top:2px;
  margin-bottom: -5.5%;
}
.info {
  text-transform: uppercase;
  text-align:center;
  padding:0;
  margin:0;
  white-space:nowrap;
  padding-bottom:6%;
  h2 {
    font-size: 5.3rem;
    font-weight: normal;
    padding:0;
    text-align:center;
    padding-right:10.8%;
  }
  &-classfat {
    line-height:3.5rem;
    font-weight: bold;
    font-size: 5.715625rem;
    margin-left:-12%;
    margin-top:-9.5%;
    letter-spacing: 5px;
  }
  h3 {
    font-size: 2.4rem;
    line-height:7rem;
    margin-left:-12%;
    margin-top:0.1%;
  }
}

.wrapper {
  &-left {
    width:90%;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: flex-start;
    img {
      height: 16.5%;
      width:16.5%;
      background-position: 50% 50%;
      background-color: #fff;
    } 
    &__header {
      color: #3d6cb0;
      text-transform: uppercase;
      font-size: 3.7rem;
      font-weight: 900;
      white-space:nowrap;
      word-wrap: break-word;
      min-width: fit-content;
      max-width: 400px;
      box-sizing: border-box;
      letter-spacing: 3px;
      margin: 0px;
      margin-left:18px;
      padding-bottom: 5px;
    }
    &__line {
      height: 7px;
      margin-bottom:5px;
      margin-left:1.3%;
      width: 38.5%;
      background: #3d6cb0;
      overflow: hidden;
      box-sizing: border-box;
    }
  }
  &-right {
    width:80%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
  }
}
.content {
  margin: 0;
  font-size: 24px; 
  line-height: 28px;
  padding-right:16%;
  padding-top:20px;
  word-spacing: -2.9px;
  line-height: 28px;
  margin-bottom: 10%;
}
.contact {
  &-info {
    margin-top:10px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    text-align:left;
    width:60%;
    font-size:2rem;
    color:black;
    margin-bottom: 3.3%;
    &__leftcol {
      display:block;
      padding-bottom:10px;
      line-height: 51px;
      //margin-right:20%;
      text-transform: uppercase;
      @include color($maincolor);
      font-weight: bold;
    }
    &__rightcol {
      padding-bottom:1px;
      margin-left:14%;
      line-height: 51px;
    }
  }
}

.skills {
  text-transform:uppercase;
  
  &-soft {
    padding:0;
    margin:0;
    text-align:center;
    font-size: 2.55rem;
  }

}
.education{
  
  li {
    list-style:none;
  }
  &-degree::before {
    content: '';
    width: 1.7vw;
    height: 1.7vw;
    margin: auto 2% auto 1%;
    border-radius: 50%;
    background-color: black;
  }
  &-degree {
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    flex-wrap: wrap;
    &_master  {
    font-size:2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    @include color($maincolor);
    }
    &_years {
      margin-left:1%;
    }
  }
  &-university {
    text-transform: uppercase;
  }
  &-cont{
    &_text {
      font-size:$sizeoffont*0.8;
    }
  }
}
.experience {
  
}
.software {
 
 
}

// @each  $icons in $icons{
  
//   .#{$icons}-icon {
//     img {
//       margin: auto 0%;
//     }
//     @include field(#{$icons}-icon,$maincolor);
//     display:flex;
//     flex-wrap: nowrap;
//     flex-direction: row;
//   }
// }