@import 'css/fonts.css';
@import "line";
$maincolor:#3d6cb0;
$globalfont :'PT Sans';
$width: 100%;
$helpcolor:#f0eded;
$sizeoffont:30.86px;
// $skills: (creative,teamwork,innovate,communication);
$pointsOfSkills: (1,2,3,4,5,6,7,8,9,10,11,12);
@mixin skillsPoint($valu){
  &__items {
    width:92%;
    height:27px;
    background-color: #fff;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: -6px;
    margin:0 auto;
    padding-right:3px;
    padding-left:1px;
  }
  &__item {
    display:inline-block;
    margin:0px;
    width:27px;
    background-color: #f0eded;
    border-radius: 50%;
  }
  &__item:nth-child(-n+#{$valu}) {
    background-color: $maincolor;
  }
  &_items:last-child {
    margin-bottom:10px;
  }
}

@mixin color($color){
  color:$color;
}
@mixin smallRoundSkills($color) {
  content: "";
  display: flex;
  flex-direction:column;
  width:3%;
  background:none;
  padding-bottom:3%;
  border-radius:50%;
  background-color:$color;
  margin: 2.3% auto;
  margin-left:49.45%;
}
html, body {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}

body {
  font-family: $globalfont;
  min-width: 320px;
  max-width: 2480px;
  width: $width;
  height:$width;
  font-size: $sizeoffont;
}
.cv {
  display: inline-block;
  background-color: forestgreen;
  width:100%;
  height:100%;
}   
.firstBlock {
  width:750px;
  margin:130px 0px 0px 95px;
  max-width:830px;
  float: left;
  padding-top:5px;
  background-color: chartreuse;
}
.secondBlock {
  float:left;
  width:972px;
  max-width:1380px;
  margin:0;
  margin:116px 0 100px auto;
  background-color: #fff;
}
.mainPhoto {
  // 452 px/2 - radius of round for image ?
  width:0.42*$width;
  padding-bottom: 0.42*$width;
  border-radius: 50%;
  background-color: #3d6cb0;
  border: 1.2rem solid #fff;
  box-shadow: 0 0 0 2px #3d6cb0;
  margin-left: 20.5%;
  margin-top:2px;
  margin-bottom: -5.5%;
}
.info {
  text-transform: uppercase;
  text-align:center;
  padding:0;
  margin:0;
  white-space:nowrap;
  padding-bottom:6%;
  h2 {
    font-size: 5.3rem;
    font-weight: normal;
    padding:0;
    text-align:center;
    padding-right:10.8%;
  }
  &-classfat {
    line-height:3.5rem;
    font-weight: bold;
    font-size: 5.715625rem;
    margin-left:-12%;
    margin-top:-9.5%;
    letter-spacing: 5px;
  }
  h3 {
    font-size: 2.4rem;
    line-height:7rem;
    margin-left:-12%;
    margin-top:0.1%;
  }
}

.wrapper {
  &-left {
    width:90%;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: flex-start;
    img {
      height: 16.5%;
      width:16.5%;
      background-position: 50% 50%;
      background-color: #fff;
    } 
    &__header {
      color: #3d6cb0;
      text-transform: uppercase;
      font-size: 3.7rem;
      font-weight: 900;
      white-space:nowrap;
      word-wrap: break-word;
      min-width: fit-content;
      max-width: 400px;
      box-sizing: border-box;
      letter-spacing: 3px;
      margin: 0px;
      margin-left:18px;
      padding-bottom: 5px;
    }
    &__line {
      height: 7px;
      margin-bottom:5px;
      margin-left:1.3%;
      margin-right: 7%;
      width: 60%;
      background: #3d6cb0;
      overflow: hidden;
      box-sizing: border-box;
    }
  }
  &-right {
    width:100%;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: flex-start;
    
    img {
      height: 11.8%;
      width:11.8%;
      background-position: 50% 50%;
      background-color: #fff;
    } 
    &__header {
      color: #3d6cb0;
      text-transform: uppercase;
      font-size: 3.7rem;
      font-weight: bold;
      white-space:nowrap;
      word-wrap: break-word;
      min-width: fit-content;
      max-width: 400px;
      box-sizing: border-box;
      letter-spacing: 3px;
      margin: 0;
      margin-left:3%;
      padding-bottom: 5px;
      padding-right:10px;
    }
    &__line {
      height: 8px;
      margin-left:1%;
      width: 100%;
      background: #3d6cb0;
      overflow: hidden;
      box-sizing: border-box;
    }
  }
}
.content {
  margin: 0;
  font-size: 24px; 
  line-height: 28px;
  padding-right:16%;
  padding-top:20px;
  word-spacing: -2.9px;
  line-height: 28px;
  margin-bottom: 10%;
}
.contact {
  &-info {
    margin-top:10px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    text-align:left;
    width:60%;
    font-size:2rem;
    color:black;
    margin-bottom: 3.3%;
    &__leftcol {
      display:block;
      padding-bottom:10px;
      line-height: 51px;
      //margin-right:20%;
      text-transform: uppercase;
      @include color($maincolor);
      font-weight: bold;
    }
    &__rightcol {
      padding-bottom:1px;
      margin-left:14%;
      line-height: 51px;
    }
  }
}

.skills {
  text-transform:uppercase;
  &-soft {
    letter-spacing: -1.7px;
    margin:0 22% 0 45px;
    padding-top: 10px;
    text-align:center;
    font-size: 2.55rem;
    &__creative{
      @include skillsPoint(9);
    }
    &__teamwork {
      @include skillsPoint(11);
    }
    &__innovate {  
      @include skillsPoint(6);
    }
    &__communication {
      @include skillsPoint(11);
    }
  }
}
// правый блок
.education {
  li {
    list-style:none;
  }
  &-container{  //обёртка для выравнивания
    padding-left:8.3%;
    padding-bottom: 37px;
  }
  &-cont{
    padding-top: 5px;
    padding-right:30px;
    padding-bottom:10px;
    &__text {
      font-size:$sizeoffont*0.78;
      padding-left:3px;
      padding-top:5px;
      line-height: 1.85rem;
      word-spacing: -2px;
    }
  }
  &-degree::before {
    content: '';
    display:flex;
    position: absolute;
    left:-62px;
    top:13px;
    align-items:center;
    width: 3.5%;
    padding-bottom: 3.5%;
    border-radius: 50%;
    background-color: black;
  }
  &-degree {
    position: relative;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
    &__master  {
      font-size:2.5rem;
      font-weight: bold;
      letter-spacing: 1px;
      word-spacing: -5px;
      text-transform: uppercase;
      @include color($maincolor);
    }
    &__years {
      margin-left:2%;
      letter-spacing: -1px;
      font-size: 2.5rem;
    }
  }
  &-university {
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: -1.5px;
  }
  
}
.experience {
 
  li {
    list-style: none;
  }
  &-container {
    @extend .education-container;
    padding-bottom: 62px;
  }
  &-cont {
    @extend .education-cont;
    padding-top:28px;
    padding-bottom:11px;
    &__text {
      @extend .education-cont__text;
      margin-bottom: -24.5px;
    }
  }
  &-company {
    @extend .education-degree;
    ::before {
      top:11px;
    }
    &__name {
      @extend .education-degree__master;
      color: black;
      letter-spacing: 1.5px;
      word-spacing: -4.5px;
    }
    &__years {
      @extend .education-degree__years;
      
    }
  }
  &-job {
    @extend .education-university;
    letter-spacing: -1px;
    word-spacing: 0px;
  }  
}
.rect{
  display: inline-block;
  margin-top:0px;
  height: 34px;
  background-color: $maincolor;
}
.software {
  &-hard {
    padding: 0;
    margin: 0;
    overflow: hidden;
    padding-left: 11px;
    padding-right:4px;
    &__row__1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      h4 {
        font-weight: normal;
        text-transform: uppercase;
        padding:0;
        margin:0;
        margin-bottom:20px;
        margin-top:32px;
        letter-spacing: -1px;
        font-size:2.5rem;
      }
    }
    &__row__2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      h4 {
        font-weight: normal;
        text-transform: uppercase;
        padding:0;
        margin:0;
        margin-bottom:17px;
        margin-top:31px;
        letter-spacing: -1px;
        font-size:2.5rem;
      }
    }
    
    &__row__3 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      h4 {
      font-weight: normal;
      text-transform: uppercase;
      padding:0;
      margin:0;
      margin-bottom:12px;
      margin-top:31px;
      letter-spacing: -1px;
      font-size:2.5rem;
      } 
    }
    &__points {
      display:flex;
      text-align: left;
      height: 34px;
      padding:0;
      background-color: #f0eded;
      width: 426px;
      &__389{
        @extend .rect;
        width: 389px;
      }
      &__300 {
        @extend .rect;
        width: 300px;
      }
      &__240{
        @extend .rect;
        width: 240px;
      }
      &__342 {
        @extend .rect;
        width: 263px;
      }
      &__354 {
        @extend .rect;
        width: 354px;
      }
    }
  }
} 
 

// @each  $icons in $icons{
  
//   .#{$icons}-icon {
//     img {
//       margin: auto 0%;
//     }
//     @include field(#{$icons}-icon,$maincolor);
//     display:flex;
//     flex-wrap: nowrap;
//     flex-direction: row;
//   }
// }