@import 'css/fonts.css';
@import "line";
$maincolor:#3d6cb0;
$globalfont :'PT Sans';
$width: 100%;
$sizeoffont:30.86px;

@mixin color($color){
  color:$color;
}
@mixin smallRoundSkills($color) {
  content: "";
  display: flex;
  flex-direction:column;
  width:3%;
  background:none;
  padding-bottom:3%;
  border-radius:50%;
  background-color:$color;
  margin: 2.3% auto;
  margin-left:49.45%;
}
html, body {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}

body {
  font-family: $globalfont;
  min-width: 320px;
  max-width: 2480px;
  width: $width;
  height:$width;
  font-size: $sizeoffont;
  padding-top:5px;
  
}
.cv {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}   
.firstBlock {
  padding-left:0;
  width:44.354839%;
  max-width:$width/2.25;
}
.secondBlock {
  width:$width - 44.354839%;
  max-width:1380px;
}



.info {
  text-transform: uppercase;
  text-align:center;
  display:flex;
  flex-direction:column;
  padding:0;
  margin:0;
  padding-bottom:10%;
  h1 {
    font-size: 5.38rem;
    font-weight: normal;
    padding:0;
    margin:0;
  }
  &-classfat {
    line-height:3.5rem;
    font-weight: bold;
    font-size: 5.715625rem;
    padding:0;
    margin:0;
  }
  h3 {
    font-size: 2.4rem;
    padding:0;
    margin:0;
    line-height:7rem;
  }
}

.mainPhoto {
  // 452 px/2 - radius of round for image ?
  width:0.37*$width;
  padding-bottom: 0.37*$width;
  border-radius: 50%;
  background-color: #3d6cb0;
  border: 1.2vw solid #fff;
  box-shadow: 0 0 0 2px #3d6cb0;
  margin-left: 29%;
  margin-top: 15%;
  margin-bottom: 3%;
}
.wrapper {
  &-left {
    width:70%;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    margin-left:10%;
  }
  &-right {
    width:80%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
  }
}
.content {
  margin: 0% 10%;  
}
.profi {
  margin-right: 24px;
  margin-left: 21px;
  margin-bottom: 78px;
  position: relative;
  img {
    position: relative;
    vertical-align: top;
    top: 0;
    left: 0;
  }
}
.profi__header {
  display: block;
  color: #3d6cb0;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 3.4rem;
  font-weight: 900;
  position: absolute;
  padding-left: 82px;
  top: 10px;
  word-wrap: break-word;
  max-width: 100%;
  height: 73px;
  text-overflow: ellipsis;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.5;
  margin: 0px;
}
.profi__header::before {
content: "";
width: 10px;
height: 10px;
display: inline-block;
background: url('app/img/profile-icon.png') 100% 100% no-repeat;
background-size: cover;
position: absolute;
left: 0px;
top: 11px;
background-position: -383px 0px;
}

.profi__line {
  height: 5px;
  width: 100%;
  display: flex;
  margin-bottom: 60px;
  background: #3d6cb0;
  top: 48px;
  position: relative;
}

.profi .content {
  font-size: 16px;
  margin-top: 90px;
  display: block;
  line-height: 18.6px;
  letter-spacing: -0.43px;
}
.contact {
  
  &-left {
       //удалится
    background: ivory;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    text-align:left;
    width:60%;
    margin-left:10%;
    font-size:2rem;
    color:black;
    
    &_info_1 {
      //margin-right:20%;
      text-transform: uppercase;
      @include color($maincolor);
      font-weight: bold;
      background: #e6e6e6;

    }
    &_info_2 {
      background: #e6e6e6;
    }
  }
}

.skills {
  text-transform:uppercase;
  
  &-soft {
    padding:0;
    margin:0;
    text-align:center;
    font-size: 2.55rem;
  }

}
.education{
  
  li {
    list-style:none;
  }
  &-degree::before {
    content: '';
    width: 1.7vw;
    height: 1.7vw;
    margin: auto 2% auto 1%;
    border-radius: 50%;
    background-color: black;
  }
  &-degree {
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    flex-wrap: wrap;
    &_master  {
    font-size:2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    @include color($maincolor);
    }
    &_years {
      margin-left:1%;
    }
  }
  &-university {
    text-transform: uppercase;
  }
  &-cont{
    &_text {
      font-size:$sizeoffont*0.8;
    }
  }
}
.experience {
  
}
.software {
 
 
}
// @each  $icons in $icons{
  
//   .#{$icons}-icon {
//     img {
//       margin: auto 0%;
//     }
//     @include field(#{$icons}-icon,$maincolor);
//     display:flex;
//     flex-wrap: nowrap;
//     flex-direction: row;
//   }
// }